    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h5>About Us</h5>
            <ul>
              <li><a>Our Team</a></li>
              <li><a>Awards</a></li>
              <li><a>FAQs</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h5>Our Impact</h5>
            <ul>
              <li><a>Project #1</a></li>
              <li><a>Project #2</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h5>Support Us</h5>
            <ul>
              <li><a>Donate Us</a></li>
              <li><a>Join Us</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h5>Get Information</h5>
            <ul>
              <li><a>Contact Us</a></li>
              <li><a>Resources</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-xs-9 col-sm-9">
              <span>Copyright © 2018 YOUTHUBAAL. All rights reserved.</span>
            </div>
            <div class="col-xs-3 col-sm-3">
              <ul class="social-icons">
                <li class="social-facebook"><a target="_blank" href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="social-facebook"><a target="_blank" href="http://facebook.com"><i class="fa fa-twitter"></i></a></li>
                <li class="social-facebook"><a target="_blank" href="http://facebook.com"><i class="fa fa-instagram"></i></a></li>
                <li class="social-facebook"><a target="_blank" href="http://facebook.com"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- <span class="text-muted">Place sticky footer content here.</span> -->
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
