<header id="header" role="navigation">
    <div class="container">
      <div class="row primary-header">
        <div class="col-xs-12 col-sm-2 brand">
          <h1> <a href="/" > INeedLogo </a> </h1>
        </div>
        <!-- <div class="col-xs-12 col-sm-6">
          <div id="mc_embed_signup" class="row">
          <form action="https://twitter.us12.list-manage.com/subscribe/post?u=adfc8db9ebc284f0cd560f209&amp;id=66b91065dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

          	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_adfc8db9ebc284f0cd560f209_66b91065dd" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>
        </div> -->
        <div class="col-xs-12 col-sm-10 support-links">
          <div class="row">
            <a href="/donation" class="btn btn-default btn-warning">DONATE NOW</a>
            <a href="/volunteer-with-yu" class="btn btn-default btn-warning">VOLUNTEER</a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABOUT US
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">HISTORY</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">VISION</a>
              <a class="dropdown-item" href="#">GOALS</a>
              <a class="dropdown-item" href="#">TEAMS</a>
              <a class="dropdown-item" href="#">TESTIMONIALS</a>
              <a class="dropdown-item" href="#">FAQs</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ISSUES AND VIEWS
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">CONTENT?</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">CONTENT?</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              OUR WORK
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">CONTENT?</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">CONTENT?</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              OUR IMPACT
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">CONTENT?</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">CONTENT?</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SUPPORT US
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">DONATE NOW</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">VOLUNTEER</a>
              <a class="dropdown-item" href="#">CAREERS</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">BLOGS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/debates">DEBATES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">CONTACT US</a>
          </li>
        </ul>
        <!-- <ul class="navbar-nav">
          <li class="nav-item">
            <% if(!auth) { %>
              <a class="nav-link" id="button_google" href="/auth/google">
                Login With Google
              </a>
            <% } else { %>
              <a class="nav-link" id="button_google" href="/user/<%= auth.userId %>">
                <%= auth.name %>
              </a>
            <% } %>
          </li>
          <li class="nav-item">
            <% if(auth) { %>
              <a class="nav-link" id="button_google" href="/api/logout">Logout</a>
            <% } %>
          </li>
        </ul> -->
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
</header>
