<% include partials/header %>
    <title><%= event.name %></title>
</head>
  <% include partials/navbar %>
  <main role="main" class="container-fluid">
    <h2>About Page</h2>
  </main>
<% include partials/footer %>
