<% include partials/header %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar %>
    <main role="main" class="container">
      <h1><%= title %></h1>
      <form action="/api/test" method="POST" enctype="multipart/form-data">
        <input type="file" name="photo" accept="image/*">
        <input type="submit">
      </form>

      <div class="blog_form">
        <form action="/api/blogs" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="FormTitle">Title</label>
            <input class="form-control form-control-lg" type="text" name="title" placeholder="Title" required>
          </div>
          <div class="form-group">
            <label for="FormAuthor">Author</label>
            <input class="form-control form-control-lg" type="text" name="author" placeholder="Author" required>
          </div>
          <div class="form-group">
            <label for="BlogURL">BlogURL</label>
            <input class="form-control form-control-lg" type="text" name="url" placeholder="type-hyphen-separated-name" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="body" rows="10" required></textarea>
          </div>
          <label for="BlogImage">Image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="photo">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <hr>
      <div class="blog_review">
        <div class="blog_title"></div>
        <div class="blog_body"></div>
      </div>
    </main>
    <script type="text/javascript" src="/javascripts/blogForm.js"></script>
<% include partials/footer %>
