<% include partials/header %>
    <title><%- title %></title>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=220745311999089&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
    <% include partials/navbar %>
    <main role="main" class="container">
      <h1><%- title %></h1>
      <!-- <div id="blog-<%= blog.id %>" class="blog-container"></div> -->

      <!-- Blog Post -->
      <div class="card mb-4">
        <img class="card-img-top" src="/<%=blog.photo%>" alt="Card image cap">
        <div class="card-footer text-muted">
          Posted on <%= moment(blog.dateSent).format('MMMM Do') %> by
          <a href="#" onclick="return false"><%= blog.author %></a>
        </div>
        <div class="card-body">
          <h2 class="card-title"><%- blog.title %></h2>
          <p class="card-text"><%- blog.body %></p>
        </div>
      </div>

      <div class="fb-comments" data-href="http://localhost:8000/blog/<%= blog.id %>" data-numposts="5"></div>
      <!-- <textarea class="form-control" id="commentForm" name="body" rows="3"></textarea> -->
      <!-- <button class="btn btn-primary" id="commentSubmit">Submit</button> -->
      <!-- <div id="comments-container" class="comments"></div> -->
    </main>
    <script type="text/javascript" src="/javascripts/blog.js"></script>
<% include partials/footer %>
