<% include partials/header %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar %>
    <main role="main" class="container">
      <h1><%= title %></h1>

      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>

      <!-- Blog Post -->
      <% blogs.forEach(function(blog, index) { %>
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><%- blog.title %></h2>
            <p class="card-text"><%- blog.body %></p>
            <a href="/blog/<%=blog.id%>" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on <%= moment(blog.dateSent).format('MMMM Do') %> by
            <a href="#" onclick="return false"><%= blog.author %></a>
          </div>
        </div>
      <% }) %>

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li id="newer" class="page-item disabled">
          <a class="page-link" href="#">&larr; Newer</a>
        </li>
        <li id="older" class="page-item">
          <a class="page-link" href="#">Older &rarr;</a>
        </li>
      </ul>
    </main>
    <script type="text/javascript" src="/javascripts/blogs.js"></script>
<% include partials/footer %>
