<% include partials/header %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar %>
    <main role="main" class="container">

      <form action="/api/donate" method="POST">
        <div class="form-group">
          <label for="InputName">Name*</label>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First" name="firstName" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last" name="lastName" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="DOB">Date of Birth</label>
            <div class="row">
              <div class="col">
                <select id="date" class="form-control" name="date">
                  <% for(let i=1;i<=31;i++) { %>
                      <option value="<%= i %>"><%= i %></option>
                  <% } %>
                </select>
              </div>
              <div class="col">
                <select id="month" class="form-control" name="month">
                  <% for(let i=1;i<=12;i++) { %>
                      <option value="<%= i %>"><%= i %></option>
                  <% } %>
                </select>
              </div>
              <div class="col">
                <select id="year" class="form-control" name="year">
                  <% for(let i=1930;i<=2018;i++) { %>
                      <option value="<%= i %>"><%= i %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label for="PAN">PAN</label>
            <input id="inputPAN" class="form-control" type="number" name="pan">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="exampleInputEmail1">Email*</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group col">
            <label for="exampleInputPhone">Phone Number*</label>
            <input type="number" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp" placeholder="Enter phone number" name="phone" required>
            <small id="phoneHelp" class="form-text text-muted">We'll never share your phone with anyone else.</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="InputCity">City</label>
            <input type="text" class="form-control" id="InputCity" aria-describedby="cityHelp" placeholder="Enter city" name="city">
          </div>
          <div class="form-group col-md-4">
            <label for="InputState">State</label>
            <input type="text" class="form-control" id="InputState" aria-describedby="stateHelp" placeholder="Enter state" name="state">
          </div>
          <div class="form-group col-md-4">
            <label for="InputCountry">Country</label>
            <input type="text" class="form-control" id="InputCountry" aria-describedby="countryHelp" placeholder="Enter country" name="country">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="address">Address</label>
            <textarea name="address" rows="3" cols="80" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="notes">Message</label>
            <textarea name="notes" rows="3" cols="80" class="form-control"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      <!-- Note that the amount is in paise = 50 INR -->
      <!-- <script
          src="https://checkout.razorpay.com/v1/checkout.js"
          data-key="rzp_test_Bs1NRdqjR5HaCO"
          data-amount="5000"
          data-buttontext="Pay with Razorpay"
          data-name="Merchant Name"
          data-description="Purchase Description"
          data-image="https://your-awesome-site.com/your_logo.jpg"
          data-prefill.name="Harshil Mathur"
          data-prefill.email="support@razorpay.com"
          data-theme.color="#F37254"
      ></script>
      <input type="hidden" value="Hidden Element" name="hidden"> -->
      </form>

      <!-- Manual Form -->
      <!-- <button id="rzp-button1">Pay</button>
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      <script>
      var options = {
  key: 'rzp_test_Bs1NRdqjR5HaCO',
  amount: '2000', // 2000 paise = INR 20
  name: 'Merchant Name',
  description: 'Purchase Description',
  image: '/your_logo.png',
  handler: function(response) {
    alert(response.razorpay_payment_id);
  },
  prefill: {
    name: 'Harshil Mathur',
    email: 'harshil@razorpay.com'
  },
  notes: {
    address: 'Hello World'
  },
  theme: {
    color: '#F37254'
  }
};
var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function(e) {
  rzp1.open();
  e.preventDefault();
};
</script> -->
    </main>
<% include partials/footer %>
