<% include partials/header %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar %>
    <main role="main" class="container">
      <h1><%= title %></h1>
      <!-- <div id="event_list"></div> -->

      <!-- Event Post -->
      <% events.forEach(function(event, index) { %>
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><%- event.name %></h2>
            <p class="card-text"><%- event.body %></p>
            <a href="/event/<%=event.id%>" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on <%= moment(event.dateSent).format('MMMM Do') %>
          </div>
        </div>
      <% }) %>

      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item previous"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item next"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav> -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li id="newer" class="page-item disabled">
          <a class="page-link" href="#">&larr; Newer</a>
        </li>
        <li id="older" class="page-item">
          <a class="page-link" href="#">Older &rarr;</a>
        </li>
      </ul>
    </main>
    <script type="text/javascript" src="/javascripts/events.js"></script>
<% include partials/footer %>
