<% include partials/header %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar %>
    <main role="main" class="container">
      <h1><%= title %></h1>
      <div class="event_form">
        <form action="/api/events" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="event-name">Name</label>
            <input class="form-control form-control-lg" type="text" name="name" placeholder="Name of the Event" required>
          </div>
          <div class="form-group">
            <label for="EventURL">EventURL</label>
            <input class="form-control form-control-lg" type="text" name="url" placeholder="type-hyphen-separated-name" required>
          </div>
          <div class="form-group">
            <label for="eventBody">Content</label>
            <textarea class="form-control" id="eventBody" name="body" rows="10" required></textarea>
          </div>
          <!-- <div class="input-field">
            <label for="event-date">Date</label>
            <input type="text" name="date" class="datepicker">
          </div> -->
          <label for="BlogImage">Image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="photo">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <hr>
      <div class="event_review">
        <div class="event_name">
        </div>
        <div class="event_body">
        </div>
      </div>
    </main>
    <script type="text/javascript" src="/javascripts/eventForm.js"></script>
<% include partials/footer %>
