<% include partials/header %>
    <title><%= event.name %></title>
</head>
<body>
    <% include partials/navbar %>
    <main role="main" class="container-fluid">
      <h1><%= event.name %></h1>
      <div class="card mb-4">
        <img class="card-img-top" src="/<%=event.photo%>" alt="Card image cap">
        <div class="card-footer text-muted">
          Posted on <%= moment(event.dateSent).format('MMMM Do') %>
        </div>
        <div class="card-body">
          <h2 class="card-title"><%- event.name %></h2>
          <p class="card-text"><%- event.body %></p>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="/javascripts/event.js"></script>
<% include partials/footer %>
