<% include partials/header %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar %>
    <main role="main">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="d-block w-100" src="https://picsum.photos/500/400/?random" alt="First slide">
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" src="https://picsum.photos/500/400/?random" alt="Second slide">
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" src="https://www.jqueryscript.net/images/Easy-To-Customize-jQuery-Loading-Indicator-Plugin-babypaunch-spinner-js.jpg" alt="Third slide">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
      <div class="jumbotron">
        ABOUT US
      </div>
      <div class="jumbotron">
        WHAT DO WE DO?
      </div>
      <div class="jumbotron">
        OUR IMPACT
      </div>

<div id="mc_embed_signup">
<form action="https://twitter.us12.list-manage.com/subscribe/post?u=adfc8db9ebc284f0cd560f209&amp;id=66b91065dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_adfc8db9ebc284f0cd560f209_66b91065dd" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    </main>
    <script type="text/javascript" src="/javascripts/landing.js"></script>
<% include partials/footer %>
