<% include partials/header %>
  <title><%= title %></title>
</head>
<body>
  <% include partials/navbar %>
  <main>
    <form action="/api/volunteer" method="POST">
      <div class="form-group">
        <label for="InputName">Name*</label>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First" name="firstName" required>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last" name="lastName" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPhone">Phone Number*</label>
        <input type="number" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp" placeholder="Enter phone number" name="phone" required>
        <small id="phoneHelp" class="form-text text-muted">We'll never share your phone with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="InputCity">City</label>
        <input type="text" class="form-control" id="InputCity" aria-describedby="cityHelp" placeholder="Enter city" name="city">
      </div>
      <div class="form-group">
        <label for="InputState">State</label>
        <input type="text" class="form-control" id="InputState" aria-describedby="stateHelp" placeholder="Enter state" name="state">
      </div>
      <div class="form-group">
        <label for="InputCountry">Country</label>
        <input type="text" class="form-control" id="InputCountry" aria-describedby="countryHelp" placeholder="Enter country" name="country">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>
<% include partials/footer %>
