* {
  transition: all 0.5s ease;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

header {
  background-color: #f0ffff;
}

main {
  padding-bottom: 40px;
}

a {
  color: #00b7ff;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.btn {
  margin: 5px;
}

.primary-header .brand {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  header {
    font-size: 1.25vw;
  }

    .dropbtn {
        /*background-color: #4CAF50;*/
        /*color: white;*/
        /*padding: 16px;*/
        /*font-size: 16px;*/
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /*.dropdown-content a:hover {background-color: #ddd}*/

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        /*background-color: #3e8e41;*/
    }

    .dropdown-item:hover {
        font-weight: bold;
    }
}

#mc_embed_signup, #mc_embed_signup_scroll {
  display: flex;
  justify-content: space-around;
}

.support-links .row {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 576px) {
  .support-links {
    display: flex;
    justify-content: space-around;
  }
}

#carouselExampleIndicators {
  position: relative;
  margin-bottom: 60px;
}

#carouselExampleIndicators img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px; */
  padding-top: 30px;
  color: #ddd;
  line-height: 20px; /* Vertically center the text there */
  background-color: #606060;
}

#footer h5:first-child {
  font-weight: 400;
  color: #fff;
  margin: 5px 0px 20px 0px;
}

.copyright {
  font-size: 15px;
  margin-top: 50px;
  color: #fff;
  background: #111;
  padding: 21px 0px;
}

.social-icons {
  font-size: 25px;
  text-align: center;
  padding: 6px 0px 0px 0px;
}

.social-icons > li {
  float: left;
  margin-right: 20px;
}

.card {
  margin: 20px;
}
